DATABASE_URL="postgresql://username:password@localhost:5432/loanflow?schema=public"
JWT_SECRET="replace-with-long-random-secret-at-least-32-chars"
PORT=5000
FRONTEND_URL="http://localhost:3000"
FRONTEND_URLS="https://your-frontend-domain.com,https://www.your-frontend-domain.com"
NODE_ENV="development"
